.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__icons {
    align-items: center;
    display: flex;
    gap: 24px;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    @include title-padding-block
  }

  &__title {
    width: 280px;
    color: white;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: -1.5px;
    text-align: center;
  }
}