.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: $accent-main;

  font-weight: 700;
  text-transform: uppercase;

  &__top {
    margin-bottom: 40px;
  }

  &__content {
    padding-inline: 20px;
  }

  &__nav {
    margin-bottom: 32px;
  }

  &__phone-section {
    display: block;
    font-size: 16px;
    line-height: 27px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__phone-number {
    display: block;

    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
  }

  &__avenue {
    margin: 0;
  }

  &__cloisters {
    margin: 0;
  }

  &__call-to-order {
    display: block;

    color: #fff;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    margin-top: 16px;
    position: relative;

    border-bottom: 1px solid #fff;
    width: fit-content;
  }

  &__underline {
    position: absolute;
    width: 100%;
  }
}