.top-bar {
  @include constent-padding-inline;

  align-items: center;
  display: flex;
  justify-content: space-between;

  &__logo-link {
    display: flex;
  }

  &__logo {
    width: 64px;
    height: 46px;

    @media(min-width: 1260px) {
      width: 87px;
      height: 65px;
    }
  }


  &__icons {
    align-items: center;
    display: flex;
    gap: 24px;
  }
}